@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
code , a , p , h1 , h2 , h3 , h4 , h5 , h6 , b , i , input , select , body , button , li , u , caption{
  /*sobreescrita de fonte de forma a evitar bugs por falta de renderização da fonte em um ou mais pedaços do site*/
  font-family: "Roboto";
  color: #000;
}
body{
    margin: 0;
    background: #f0f0f0;
    font-weight: 300;
    display: flex;
    text-align: center;
}
nav{
  background: #B20000;
  color: #fff;
  font-weight: 500;
  height: 5em;
  width: 100vw;
}
button{
  background-color: #005C6D;
  color: #fff;
  border-radius: 30px;
  border: none;
  padding: 0.5em 2em;
}
h1{
  color: #005C6D;
}